.guest-checkout-wrapper .checkout {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.guest-checkout-wrapper .checkout-step {
  text-align: center;
}

.guest-checkout-wrapper .circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.guest-checkout-wrapper .tick {
  display: none;
}

.guest-checkout-wrapper .step-title {
  margin: 10px;
}

.guest-checkout-wrapper .complete-step .circle {
  border-color: green;
}

.guest-checkout-wrapper .complete-step .tick {
  display: block;
}

.guest-checkout-wrapper .complete-step .step-title {
  color: green;
}

.guest-checkout-wrapper .checkout-page {
  display: none;
  padding: 20px;
  border: 1px solid black;
  margin: 20px 0px;
}

.guest-checkout-wrapper .checkout-page.active-page {
  display: block;
}
.guest-checkout-wrapper .product-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: auto;
}

.guest-checkout-wrapper .product-image {
  width: 100px;
  height: 100px;
}

.guest-checkout-wrapper .product-details {
  margin-left: 20px;
}

.guest-checkout-wrapper .product-quantity {
  display: flex;
  align-items: center;
}

.guest-checkout-wrapper .guest-cart-wrapper .quantity-button {
  margin: 0 10px;
}

.guest-checkout-wrapper .cart-container {
  display: flex;
  flex-wrap: wrap;
}

.guest-checkout-wrapper .cart-summary {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}

.guest-checkout-wrapper .summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.guest-checkout-wrapper .summary-address {
  margin-bottom: 10px;
}
.guest-checkout-wrapper .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.guest-checkout-wrapper .button-blue {
  background-color: #3327e4; /* Green */
}
.guest-checkout-wrapper .button:hover {
  background-color: #45a049;
}
.guest-checkout-wrapper .checkout-page .full-w-input,.guest-checkout-wrapper .checkout-page .full-w-select{
  width: 100%;
}
.guest-checkout-wrapper input,.guest-checkout-wrapper select{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
@media screen and (min-width: 600px) {
  .guest-checkout-wrapper .cart-summary {
    order: 2;
    margin-bottom: 0;
  }
}
.guest-cart-wrapper .payment-methods {
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #ddd;
}

.guest-checkout-wrapper .payment-method {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  justify-content: center;
}

.guest-checkout-wrapper .payment-icon {
  margin-right: 10px;
  width: 30px; /* adjust size as needed */
  height: 30px; /* adjust size as needed */
}

.guest-checkout-wrapper .payment-method label {
  margin-left: 10px;
}

.guest-checkout-wrapper .payment-method:first-child {
  border-top: none;
}

.guest-checkout-wrapper .payment-method:last-child {
  border-bottom: none;
}