{% extends "base.html" %}
{% block title %}Shopping Cart{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/cart.min.css')}}?version=1.4">
{% endblock %}
{% block content %}
{% set domain_name = "https://tmpmc.aitanmall.com" %}
{% if session.language == "my" %}
    {% set header = "Troli Belanja" %}
    {% set sub_total_text = "Jumlah Keseluruhan: Rm" %}
    {% set checkout_btn_text = "Teruskan" %}
    {% set user_voucher_caption = '<span>Baucar Anda</span>' %}
    {% if session.checkout_platform_voucher_discount_amount is defined %}
        {% set fixed_voucher_discount_text = "RM"+session.checkout_platform_voucher_discount_amount+" DITOLAK" %}
        {% set percentage_voucher_discount_text = "DISKAUN "+session.checkout_platform_voucher_discount_amount+"%" %}
    {% endif %}
    {% set official_tag_text = "Rasmi" %}
    {% set verified_tag_text = "Disahkan" %}
    {% set shipping_text = "Syarikat Penghantaran: " %}
    {% set shipping_delivery_days = "1-5 hari bekerja" %}
    {% set nothing_in_cart_text = "Tiada apa-apa dalam troli" %}
    {% set nothing_in_cart_text1 = "Tambah sesuatu ke dalam troli sila." %}
{% elif session.language == "cn" %}
    {% set header = "购物车" %}
    {% set sub_total_text = "小计: Rm" %}
    {% set checkout_btn_text = "继续" %}
    {% set user_voucher_caption = '<span>您的优惠券</span>' %}
    {% if session.checkout_platform_voucher_discount_amount is defined %}
        {% set fixed_voucher_discount_text = "减 RM"+session.checkout_platform_voucher_discount_amount %}
        {% set percentage_voucher_discount_text = "折扣 "+session.checkout_platform_voucher_discount_amount+"%" %}
    {% endif %}
    {% set official_tag_text = "官方" %}
    {% set verified_tag_text = "已验证" %}
    {% set shipping_text = "运输公司: " %}
    {% set shipping_delivery_days = "1-5个工作日" %}
    {% set nothing_in_cart_text = "购物车为空" %}
    {% set nothing_in_cart_text1 = "请添加一些物品到购物车。" %}
{% else %}
    {% set header = "Shopping Cart" %}
    {% set sub_total_text = "Sub Total: Rm" %}
    {% set checkout_btn_text = "Continue" %}
    {% set user_voucher_caption = '<span>Voucher Anda</span>' %}
    {% if session.checkout_platform_voucher_discount_amount is defined %}
        {% set fixed_voucher_discount_text = "RM"+session.checkout_platform_voucher_discount_amount+" OFF" %}
        {% set percentage_voucher_discount_text = session.checkout_platform_voucher_discount_amount+"% OFF" %}
    {% endif %}
    {% set official_tag_text = "Official" %}
    {% set verified_tag_text = "Verified" %}
    {% set shipping_text = "Shipping Company: " %}
    {% set shipping_delivery_days = "1-5 business days" %}
    {% set nothing_in_cart_text = "Nothing in cart" %}
    {% set nothing_in_cart_text1 = "Add something to cart please." %}
{% endif %}
<!-- Alert Start -->
<div class="alert alert-warning alert-dismissible fade show hide text-center" role="alert" style="width: 100%;">
    <strong>Notice:</strong> <span id="top-page-warning-alert"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-success alert-dismissible fade show hide text-center" role="alert" style="width: 100%;">
    <strong>Success:</strong> <span id="top-page-success-alert"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- Alert ends -->
<div id="user-checkout-wrapper" class="container user-cart-wrapper">
    <h1 class="user-cart-title">{{header}}</h1>
    <div id="checkout-bar" class="checkout-info-bar d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column">
            <span>{{sub_total_text}}{{ (user_cart_sub_total) | round(2, 'ceil')}}</span>
        </div>
        <a href="/user/checkout"><button class="btn btn-danger" style="white-space: nowrap;">{{checkout_btn_text}}</button></a>
    </div>
    {% if user_vouchers is defined and user_vouchers | length > 0 %}
    <div id="voucher-bar" class="checkout-info-bar d-flex justify-content-between align-items-center">
        {% if session.checkout_platform_voucher_selected == True %}
        <div class="d-flex align-items-center" id="voucher-info">
            {% if session.checkout_platform_voucher_discount_type == "fixed" %}
                {{fixed_voucher_discount_text}}
            {% else %}
                {{percentage_voucher_discount_text}}
            {% endif %}
            <span id="voucher-tick" style="color: rgb(14, 105, 0); margin-left: 5px;">&#10003;</span>
        </div>
        {% else %}
        <div class="d-flex flex-column">
            {{user_voucher_caption | safe}}
        </div>
        {% endif %}
        <button class="btn btn-primary" data-toggle="collapse" data-target="#voucher-options" style="white-space: nowrap;">Change</button>
    </div>
    <div id="voucher-options" class="collapse">
        {% for user_voucher in user_vouchers %}
        {% set id = user_voucher[0] %}
        {% set voucher_id = user_voucher[1] %}
        {% set voucher_code = user_voucher[2] %}
        {% set voucher_description = user_voucher[3] %}
        {% set voucher_discount_amount = user_voucher[4] %}
        {% set voucher_discount_type = user_voucher[5] %}
        {% set voucher_created_date = user_voucher[6] %}
        {% set voucher_expire_date = user_voucher[7] %}
        {% set voucher_max_usage = user_voucher[8] %}
        {% set voucher_usage_count = user_voucher[9] %}
        {% set voucher_status = user_voucher[10] %}
        {% if session.language == "my" %}
            {% set voucher_option_fixed_discount_text = "Rm"+voucher_discount_amount|string+" DISKAUN!" %}
            {% set voucher_option_percentage_discount_text = voucher_discount_amount|string+"% DISKAUN!" %}
            {% set selected_voucher_text = "Dipilih" %}
            {% set select_voucher_text = "Memilihi" %}
        {% elif session.language == "cn" %}
            {% set voucher_option_fixed_discount_text = "Rm"+voucher_discount_amount|string+" 折扣！!" %}
            {% set voucher_option_percentage_discount_text = voucher_discount_amount|string+"% 折扣!" %}
            {% set selected_voucher_text = "已选" %}
            {% set select_voucher_text = "选择" %}
        {% else %}
            {% set voucher_option_fixed_discount_text = "Rm"+voucher_discount_amount|string+" OFF!!" %}
            {% set voucher_option_percentage_discount_text = voucher_discount_amount|string+"% OFF!" %}
            {% set selected_voucher_text = "Selected" %}
            {% set select_voucher_text = "Select" %}
        {% endif %}

        {% if session.checkout_platform_voucher_id == voucher_id %}
        <div class="card option-card">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <p class="card-title text-truncate">
                        {% if voucher_discount_type == "fixed" %}
                            {{voucher_option_fixed_discount_text}}
                        {% else %}
                            {{voucher_option_percentage_discount_text}}
                        {% endif %}
                    </p>
                    <small><p>{{voucher_description}}</p></small>
                </div>
                <span class="checkout-voucher-selected-box">{{selected_voucher_text}}</span>
            </div>
        </div>
        {% else %}
        <div class="card option-card">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <p class="card-title text-truncate">
                        {% if voucher_discount_type == "fixed" %}
                            {{voucher_option_fixed_discount_text}}
                        {% else %}
                            {{voucher_option_percentage_discount_text}}
                        {% endif %}
                    </p>
                    <small><p>{{voucher_description}}</p></small>
                </div>
                <button class="checkout-select-voucher-btn btn btn-primary" data-id="{{voucher_id}}">{{select_voucher_text}}</button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <!-- Payment Method Bar End -->
    {% if user_cart_items is defined and user_cart_items | length > 0 %}
    {% set ns = namespace(previous_merchant_id=None, merchant_shipping=None, merchant_name = None) %}
        {% for user_cart_item in user_cart_items %}
            {% set user_cart_item_id = user_cart_item[0] %}
            {% set prd_id = user_cart_item[1] %}
            {% set prd_name = user_cart_item[2] %}
            {% set prd_img = user_cart_item[3] %}
            {% set quantity = user_cart_item[4] %}
            {% set prd_price = user_cart_item[5] %}
            {% set prd_var_id = user_cart_item[6] %}
            {% set prd_var_name = user_cart_item[7] %}
            {% set prd_sku = user_cart_item[8] %}
            {% set prd_var_img = user_cart_item[9] %}
            {% set sub_total = user_cart_item[10] %}
            {% set total = user_cart_item[11] %}
            {% set merchant_id = user_cart_item[12] %}
            <!--Language setting -->
            {% if session.language == "my" %}
                {% set product_warranty_text = "Jaminan: "+product_warranties.get(merchant_id).get(prd_id)[1]|string+" Hari" %}
                {% set product_quantity_text = "Kuantiti: "+quantity|string %}
            {% elif session.language == "cn" %}
                {% set product_warranty_text = "保家: "+product_warranties.get(merchant_id).get(prd_id)[1]|string+" 天" %}
                {% set product_quantity_text = "数量: "+quantity|string %}
            {% else %}
                {% set product_warranty_text = "Warranty: "+product_warranties.get(merchant_id).get(prd_id)[1]|string+" Days" %}
                {% set product_quantity_text = "Quantity: "+quantity|string %}
            {% endif %}
            
            {% if ns.previous_merchant_id != merchant_id %}
                {% set ns.merchant_shipping = merchant_shipping_details.get(merchant_id) %}
                {% set ns.merchant_name = merchant_names.get(merchant_id) %}
                {% if ns.merchant_name %}
                    {% set id = ns.merchant_name[0] %}
                    {% set business_profile_name = ns.merchant_name[1] %}
                    {% set business_profile_location = ns.merchant_name[2] %}
                    {% set business_profile_address = ns.merchant_name[3] %}
                    {% set business_profile_email = ns.merchant_name[4] %}
                    {% set business_profile_phone_country_code = ns.merchant_name[5] %}
                    {% set business_profile_phone_number = ns.merchant_name[6] %}
                    {% set business_profile_shoppage = ns.merchant_name[7] %}
                    {% set business_profile_shoptype = ns.merchant_name[8] %}
                    {% set business_profile_shopimg = ns.merchant_name[9] %}
                    {% set business_profile_shopdes = ns.merchant_name[10] %}
                {% endif %}
                {% if ns.previous_merchant_id != None %}
                    </div> <!-- Close previous user-cart-seller-body and user-cart-seller -->
                {% endif %}
                
                <div class="user-cart-seller card">
                    <div class="user-cart-seller-header card-header">
                        <h2>{{ business_profile_name }}
                        {% if business_profile_name|lower == "aitanmall" %}
                            <span class="verified-badge">{{official_tag_text}}</span></h2>
                        {% else %}
                            <span class="verified-badge">{{verified_tag_text}}</span></h2>
                        {% endif %}
                    </div>
                    <div class="user-cart-seller-body card-body">
            {% endif %}
                <!-- Your item display code here -->
                <div class="row mb-3 cart-content" id="cart-item{{user_cart_item_id}}">
                    <div class="user-cart-product-img col-4 col-md-3 col-lg-2">
                        <img src="{{domain_name}}/static/assets/merchant/{{merchant_id}}/product/{{prd_id}}/{{prd_img}}" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="col-8 col-md-9 col-lg-10">
                        <h5>{{prd_name}}</h5>
                        <p class="my-0"><small>{{prd_var_name}}</small></p>
                        <small><strong>{{product_warranty_text}}</strong></small><br>
                        <div>
                            <button class="decrease-cart-quantity-btn btn btn-outline-secondary" type="button" data-id="{{user_cart_item_id}}">-</button>
                            <small>{{product_quantity_text}}</small>
                            <button class="increase-cart-quantity-btn btn btn-outline-secondary" type="button" data-id="{{user_cart_item_id}}">+</button>
                        </div><br>
                        <small><strong>Rm{{total}}</strong></small><br>
                    </div>
                </div>
            {% set ns.previous_merchant_id = merchant_id %}
        {% endfor %}
        {% if ns.previous_merchant_id != None %}
                {% if ns.merchant_shipping %}
                    {% set merchant_shipping_option_id = ns.merchant_shipping[1] %}
                    {% set merchant_shipping_option_name = ns.merchant_shipping[2] %}
                    {% set merchant_shipping_option_nku = ns.merchant_shipping[3] %}
                    {% set merchant_shipping_option_image = ns.merchant_shipping[4] %}
                    {% set merchant_shipping_option_charge_fixed = ns.merchant_shipping[5] %}
                    {% set merchant_shipping_option_charge_percent = ns.merchant_shipping[6] %}
                    {% set merchant_shipping_option_status = ns.merchant_shipping[7] %}
                {% endif %}
                <div class="card-footer bg-transparent">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p>{{shipping_text}}<strong>{{merchant_shipping_option_name}}</strong></p>
                            <p>{{shipping_delivery_days}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Close last user-cart-seller-body and user-cart-seller -->
        {% endif %}
    {% else %}
    <div class="user-cart-seller card">
        <div class="user-cart-seller-header card-header">
            <h2>{{nothing_in_cart_text}}</h2>
        </div>
        <div class="user-cart-seller-body card-body">
            <div class="row mb-3">
                <h2>{{nothing_in_cart_text1}}</h2>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script defer>
$(document).ready(function(){
    $(document).on("click", ".checkout-select-voucher-btn", function(){
        var thisBtn = $(this);
        var thisBtnId = thisBtn.data("id")

        var fd = new FormData();
        
        fd.append("action", "update_checkout_voucher")
        fd.append("voucher_id", thisBtnId)

        if(thisBtn.data("requestRunning")){
            return false;
        }
        showLoader();
        thisBtn.data("requestRunning", true);
        $.ajax({
            url: '/api/update_checkout_voucher',
            type: 'POST',
            data: fd,
            processData: false,  // Important!
            contentType: false,  // Important!
            dataType: "json",
            success: function(result) {
                if(result.passcheck == 1){
                    $("#voucher-bar").load(location.href+" #voucher-bar>*");
                    $("#voucher-options").load(location.href+" #voucher-options>*");
                    $(".alert").addClass("hide")
                    $("#top-page-success-alert").closest(".alert").removeClass("hide")
                    $("#top-page-success-alert").text(result.msg)
                }else if(result.passcheck == 4){
                    alert(result.msg);
                    window.location.href = result.redirect;
                }else{
                    $(".alert").addClass("hide")
                    $("#top-page-warning-alert").closest(".alert").removeClass("hide")
                    $("#top-page-warning-alert").text(result.msg)
                }
            },
            error: function(error) {
                alert(error);
            },
            complete: function () {
                thisBtn.data("requestRunning", false);
                hideLoader();
            }
        });
    })
})
</script>
{% endblock %}