<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
    <a href="{{ userProfileLink }}" class="dropdown-item">
        <span>{{ userProfileText }}</span>
        <span class="dropdown-item-alert">2</span>
    </a>
    <a href="{{ userMembershipLink }}" class="dropdown-item">
        <span>{{ userMembershipText }}</span>
        <span class="dropdown-item-alert">1</span>
    </a>
    <li>
        <hr class="dropdown-divider">
    </li>
    <a class="dropdown-item" href="{{ userCartLink }}">
        <span>{{ userCartText }}</span>
    </a>
    <a class="dropdown-item" href="{{ userLogOutLink }}">
      <span>{{ userLogOutText }}</span>
    </a>
</ul>