.announement-wrapper{
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns:1fr 25px;
    background-color: #232f3e;
}
.announement-wrapper .announement-body{
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.announement-wrapper .announement-body .icon{
    padding: 0 10px;
    background-color: #232f3e;
    position: relative;
    z-index: 1;
}
.announement-wrapper .announement-body .icon i{
    color: white;
}
.announement-wrapper .announement-body .span a{
    text-decoration: underline;
    text-underline-offset: 3px;
    color: white;
}
.announement-wrapper .announement-body .span{
    font-size: 0.9rem;
    color: white;
    animation: slide 10s linear infinite;
    position: relative;
    z-index: 0;
}
@keyframes slide {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
.announement-wrapper .close-btn{
    background-color: transparent;
    border: none;
    margin: 0 auto;
    color: white;
}
@media only screen and (min-width: 453.01px) {
    .announement-wrapper{
        grid-template-columns:97% 3%;
        padding-bottom: 5px;
    }
}
