body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hide{
    display:none !important;
}
.scaleToZero{
    transform:scale(0)
}
#mask-overlay{
   position:fixed;
   opacity:1;
   z-index:3;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background-color:rgba(0,0,0,.5);
   pointer-events:all;
}
.pagebody .selected{
    border:1px solid blue;
}
.red-border{
    border: 1px solid red;
}
.marquee{
    animation: slide 10s linear infinite;
    -webkit-animation: slide 10s linear infinite;
}
@keyframes slide {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
@-webkit-keyframes slide {
    from {opacity: 0;}
    to {opacity: 1;} 
}
.custom-container {
    width: 90%;
    max-width: 900px;
    margin: auto;
}
.banner {
    background-color: darkblue;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.banner a {
    color: white;
    text-decoration: none;
}